extends partial/layout

block content
    ul.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    time= item.date.format('ll')
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
        - })