extends partial/layout

block title
    = page.title + ' - ' + config.title

block description
    - var desc = page.desc || page.title + ' - ' + config.author;
    meta(name="description", content=desc)

block content
    div.post-detail
        .post-meta
            h1= page.title
            time= full_date(page.date, 'll')
        div.markdown-body.page-content!= page.content