@import 'reset';
@import 'util';

.header-wrap {
    padding: 10px 0;
    background: #24292e;
    font-size: 14px;
    color: rgba(255,255,255,0.75);
    a {
        color: rgba(255, 255, 255, 0.75);
    }
    a:visited {
        color: rgba(255, 255, 255, 0.75);
    }
    a:hover {
        color: white;
    }
    a:active {
        color: white;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.logo {
    font-size: 18px;
}
.menu {
   li {
       float: left;
       &:not(:last-child) {
           margin-right: 20px;
       }
   }
}
.post-list {
    li {
        padding: 20px 0;
        &:not(:last-child) {
            border-bottom: 1px solid #ececec;
        }
    }
    time {
        color: #666;
        font-size: 16px;
    }
    h2 {
        font-size: 22px;
        font-weight: normal;
        margin: 5px 0;
    }
    a {
        color: #444;
    }
}
.footer {
    font-size: 12px;
    color: #888;
    margin-top: 40px;
}

.post-detail {
    h1 {
        color: #444;
    }
    time {
        color: #666;
    }
    .post-meta {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #eee;
    }
}